body {
    display: grid;
    margin: 20px;
    font-family: 'Lato', sans-serif;
    font-weight: lighter;
    text-transform: uppercase;
    /*background: #cdcdcd;*/
    /*background-image: url(images/background.jpg);*/
}

body::after {
  content: "";
  background: url(images/background.jpg) no-repeat center center;
  background-size:cover;
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;  
  -webkit-filter: grayscale(1); /* Old WebKit */
  filter: grayscale(1);
}

h1 { font-size: 1.25em; }
h2 { font-size: 1em; }
h3 { font-size: .9em; }
h4 { font-size: .83em; }
h5 { font-size: .75em; }

h2 {
 margin-bottom: 0px;
}

.gallery {
    width: auto;
    overflow-x: scroll;
    white-space: nowrap;
}

.gallery figure {
 display: inline-block;
}

.gallery figure:first-of-type {
 margin-left: 0px;
}

.gallery figure:last-of-type {
 margin-right: 0px;
}

.gallery figure img {
    max-width: 250px;
    max-height: 250px;
}

.gallery figure .caption {
 margin-top: 0px;
}

header {
 margin-bottom: 25px;
}

.header-grid {
 display: grid;
 grid-template-columns: auto auto;
 grid-template-rows: auto auto;
}

.header-email {
  text-align: end;
}

.header-email span {
  vertical-align: middle;
}

.description {
 margin-bottom: 40px;
}

.description section {
 margin-top: 10px;
}

.description section > * {
 margin-top: 0;
 margin-bottom: 5px;
}

.featherlight.custom-featherlight .featherlight-content {
  background: none;
}

.featherlight.custom-featherlight .featherlight-content .featherlight-close {
  color: #BABDBD;
  background: none;
}

.featherlight.custom-featherlight:last-of-type {
 background: rgba(0,0,0,.8);
}

.featherlight-next:hover, .featherlight-previous:hover {
 background: none;
}

.featherlight-next span, .featherlight-previous span {
  display: inline-block;
  font-size: 10px;
  width: auto;
      color: #BABDBD;
      text-shadow: none;
}

.featherlight-next span {
 right: -20px;
}

.featherlight-previous span {
 left: -20px;
}
